@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --background: #F7F8F9;
    --foreground: #1D2226;
    
    --accent-prim: #6C25FF;
    --accent-sec: #642AF5;

    --border-dark: #919191;
    --border-light: #CBCBCB;

    --required: #DD4A3D;
    --accent-light: #6C25FF4B;

    --placeholder: #919191;

    /* New variables */
    --white: #FFFFFF;
    --shadow: #00000007;
    --button-text: #FFFFFF;
    --button-disabled: var(--border-light);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;

    padding: 0;
    margin: 0;
}

body > div {
    background: #ddd;
    overflow-y: auto;
}

section.screen-area {
    min-height: 100dvh;
    margin: 0 auto;

    width: 375px;
    max-width: 100%;

    background: var(--background);
} 